<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ICALCULA</title>
  <!--CDN Boostrapp-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <!--Estilos Css-->
  <link rel="stylesheet" type="text/css" href="/static/index.css">
  <!--FontAwesone-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css"
    integrity="sha384-zIaWifL2YFF1qaDiAo0JFgsmasocJ/rqu7LKYH8CoBEXqGbb9eO+Xi3s6fQhgFWM" crossorigin="anonymous">
  <!--CDN JQuery-->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
</head>

<body>
  <!--Menú superior de navegación-->
  <nav class="navbar fixed-top navbar-light bg-light">
    <div class="container-fluid row">
      <a class="navbar-brand" href="#">
        <img src="/static/logo.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
        ICALCULA
      </a>

      <div class="options col">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/contacto/">Contáctanos</a>
          </li>
        </ul>
      </div>

    </div>
  </nav>
  
  <!--Cabecera-->
  <div class="card">
    <div class="card-img-overlay">
    </div>
  </div>


  <!-- SECTION 1 -->
  <h1 style="text-align:center;">Índice de Calidad del Agua</h1>
  {% include "section2.html" %}


  <!-- SECTION 2 -->
  {% include "section1.html" %}


  <footer>
    <div class="copyright">&copy; Todos los derechos reservados | Universidad Nacional de Colombia</div>
  </footer>
</body>

</html>


<script>
  function validaForm_icomi() {
    // Campos de texto Icomi
    if ($("#conduct").val() == "") {
      alert("El campo conductividad no puede estar vacío.");
      $("#conduct").focus();   // Esta función coloca el foco de escritura del usuario en el campo Nombre directamente.
      return false;
    }
    if ($("#dureza").val() == "") {
      alert("El campo dureza no puede estar vacío.");
      $("#dureza").focus();
      return false;
    }
    if ($("#alcalin").val() == "") {
      alert("El campo alcalinidad no puede estar vacío.");
      $("#alcalin").focus();
      return false;
    }

    return true; // Si todo está correcto
  }

  function valida_icosus() {
    // Campos de texto Icomo
    if ($("#solid_total").val() == "") {
      alert("Debes ingresar los sólidos totales.");
      $("#solid_total").focus();
      return false;
    }

    return true; // Si todo está correcto
  }

  function verificarClasificacion(valor) {
    if (valor > 0 && valor < 0.2) {
      return { "color": "azul", "clasificacion": "Ninguno", "rango": "0 - 0.2" }
    } else if (valor >= 0.2 && valor < 0.4) {
      return { "color": "verde", "clasificacion": "Bajo", "rango": "0.2 - 0.4" }
    } else if (valor >= 0.4 && valor < 0.6) {
      return { "color": "amarillo", "clasificacion": "Medio", "rango": "0.4 - 0.6" }
    } else if (valor >= 0.6 && valor < 0.8) {
      return { "color": "naranja", "clasificacion": "Alto", "rango": "0.6 - 0.8" }
    } else if (valor >= 0.8 && valor < 1) {
      return { "color": "rojo", "clasificacion": "Muy alto", "rango": "0.8 - 1" }
    } else {
      return { "color": "No definido", "clasificacion": "No definido", "rango": "No definido" }
    }
  }

  $('#enviar_form_ICOMI').click(function (e) {
    e.preventDefault();
    var info_icomi = $('#ICOMI_formulario :input').serializeArray();
    console.log(info_icomi);

    validaForm_icomi();

    $.ajax({
      url: '/icomi/',
      method: 'POST',
      data: info_icomi, /*Aqui va la info que se le envia al servidor*/
      dataType: 'json',

      success: function (data_view) {
        console.log(data_view);
        let valor = data_view.result;
        $('#valor-indice-ICOMI').html(valor.toFixed(3));
        let clasi = verificarClasificacion(valor);
        console.log("clasificacion : " + clasi);
        $('.contaminacion-grado-ICOMI').html(clasi.clasificacion);
        $('.contaminacion-color-ICOMI').html(clasi.color);
        $('.contaminacion-rango-ICOMI').html(clasi.rango);
      },

      error: function () {
        alert('HA OCURRIDO UN ERROR, INTENTALO DE NUEVO.');
      }
    }
    );

  });




  $('#enviar_form_ICOSUS').click(function (e) {
    e.preventDefault();

    var solidos = $('#form_ICOSUS :input').serializeArray();
    console.log(solidos);

    valida_icosus();

    $.ajax({
      type: "POST",
      url: "/icosus/",
      data: solidos, /*Aqui va la info que se le envia al servidor*/
      dataType: "json",


      success: function (response) {
        console.log(response)
        $(".indice-ICOSUS").html(response.toFixed(3));
        let clasi = verificarClasificacion(response);
        console.log("clasificacion : " + clasi);
        $(".contaminacion-grado-ICOSUS").html(clasi.clasificacion);
        $(".contaminacion-color-ICOSUS").html(clasi.color);
        $(".contaminacion-rango-ICOSUS").html(clasi.rango);
      },

      error: function () {
        alert('HA OCURRIDO UN ERROR, INTENTALO DE NUEVO.');
      }
    });
  });

</script>