<link rel="stylesheet" type="text/css" href="/static/section2.css">
<div class="container2">
    <div class="row fila1">
        <div class="col col1" style="margin: auto;">
          <p>El índice de la calidad de agua se calcula en función de los valores
            medidos para cada uno de los cinco parámetros: la temperatura, la demanda
            biológica de oxígneo, los sólidos suspendidos totales, el oxígeno disuelto,
            y la conductividad. A continuación, describimos lo que significa cada uno
            de estos parámetros en términos de la calidad de agua local y como se
            utilizan en el índice.</p>
        </div>
        <div class="col" style="margin:auto;">
    
          <ul class="list-group list-group-flush">
            <li class="list-group-item bg-success">Excelente</li>
            <li class="list-group-item buena">Buena</li>
            <li class="list-group-item bg-warning">Media</li>
            <li class="list-group-item mala">Mala</li>
            <li class="list-group-item bg-danger">Muy mala</li>
          </ul>
        </div>
    
      </div>
</div>