<link rel="stylesheet" type="text/css" href="/static/section2.css">
<div class="container2">
  <div class="row fila1">
    <div class="col col1" style="margin: auto;">
      <p>El índice de la calidad de agua se calcula en función de los valores
        medidos para cada uno de los cinco parámetros: la temperatura, la demanda
        biológica de oxígneo, los sólidos suspendidos totales, el oxígeno disuelto,
        y la conductividad. A continuación, tenemos dos índices manejados en Colombia
        y podrás hacer el cálculo de cada uno, dependiendo los párametros solicitados.
      </p>
    </div>
    <div class="col" style="margin:auto;">

      <ul class="list-group list-group-flush">
        <li class="list-group-item bg-info">Ninguno</li>
        <li class="list-group-item bg-success">Bajo</li>
        <li class="list-group-item bg-warning">Medio</li>
        <li class="list-group-item mala">Alto</li>
        <li class="list-group-item bg-danger">Muy alto</li>
      </ul>
    </div>

  </div>
</div>